<div class="container">
    <div class="row">
       <div class="col-md-6 col-md-offset-4">
            <fieldset>
                {{#if user}}
                    <div class="row">
                        <div class="form-group col-md-12 col-md-offset-1">
                            <a href="/post/new" class="btn btn-primary btn-lg" role="button">Add Post</a>
                        </div>
                    </div>
                {{/if}}
                <div class="form-group">
                    <label for="school">School</label>
                    <input type="text" class="form-control" id="school" placeholder="School">
                </div>
                <div class="form-group">
                    <label for="class">Class</label>
                    <input type="text" class="form-control" id="class" placeholder="Class">
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                </div>
            </fieldset>
       </div>
    </div>
</div>