<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h1>Welcome to Pishtov.com :D</h1><br>
            <h4>Feel free to cheat yourself out of every unwanted test ^^</h4><br><br>
            <a href="../user/register" class="btn btn-success btn-lg">Register</a>
            <a href="../user/login" class="btn btn-info btn-lg loginButon">Login</a>
        </div>
    </div>
</div>